.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

/* Shared styles */
.dark-2 {
    color: #474747;
}

.textdecoration {
    text-decoration: none;
}

section {
    margin-bottom: 30px;
}

/* Header section */

.btn-primary {
    /* background-color: #FD6E0A; */
    font-weight: bold;
    color: #0D1321 font-size: 20px;
    border: 1px solid #0d1321;
    box-sizing: border-box;
    width: 100%;
    padding: 18px 35px;
    border-radius: 8px;
    lex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 17px 24px;
}

.btn-2 {
    background-color: #0d1321;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border: 1px solid #0d1321;
    box-sizing: border-box;
    width: 100%;
    padding: 21px 24px;
    border-radius: 8px;
    lex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 17px 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 150px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav ul li a {
    text-decoration: none;
}

nav ul li {
    list-style: none;
}

/* Banner section */
.banner {
    background-image: url(../assets/Hero-bg.png);
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 650.9px;
    object-fit: cover;
    margin: 0;
    align-items: center;
    margin-bottom: 75px;

}

.banner-title {
    width: 998px;
    position: relative;
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    margin: 24px 221px;
}

.banner-content {
    align-items: center;
    justify-content: center;
    padding: 45px 200px 45px 100px;
    display: inline-block;
    
    text-align: center;
    margin: ;
}

.banner-description {
    margin-bottom: 15px;
    width: 852px;
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #0d1321;
    text-align: center;
    display: inline-block;
    opacity: 0.7;
    margin-bottom: 32px;
}



/* Body part */
.Why-Web-development {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 36px;
    margin-left: 230px;
    margin-right: 200px;
}

.section-title {
    width: 100%;
    position: relative;
    font-size: 32px;
    font-weight: 800;
    color: #0d1321;
    text-align: center;
}

.section-description {
    width: 100%;
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #0d1321;
    text-align: center;
    display: inline-block;
    opacity: 0.7;
}

/* Skills  */
.skill {
    margin-bottom: 100px;
}

.skill-title {
    width: 390px;
    position: relative;
    font-size: 24px;
    line-height: 36px;
    display: inline-block;
    color: rgba(13, 19, 33, 0.7);
    text-align: left;
}

.learn-more {
    position: relative;
    font-weight: 600;

    /* border: 1px solid #0d1321; */
    /* text-align: center; */
    color: #0d1321;
}

.skills-class {
    display: flex;
    padding: 48px;
    margin: 48px 97px;
    justify-content: space-around
}

.skill-title {
    width: 390px;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    display: inline-block;
    color: rgba(13, 19, 33, 0.7);
    text-align: left;
}

.skill-description {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    color: #0d1321;
    opacity: 0.7;
}

.skills-class-column1 {
    padding: ;
}

a {
    text-decoration: none;
}

.button {
    background-color: paleturquoise;
    border: 2px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    /* font-weight: 300; */
    border-radius: 3px;
}

.skills-class2 {
    display: flex;
    justify-content: space-around;
    padding: 48px;
    margin: 48px 97px;
}

/* Motivation */
.motivaton-title, .target-title {
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 32px;
    font-weight: 800;
    color: #0d1321;
    display: inline-block;
    border: 1px solid black;
    /*  */
    margin-bottom: 50px;
}

.motivation {
    text-align: center;
    padding: 0px 148px;
    margin: 48px 250px;
}

/* target Section */
.target {
    margin: 120px 144px;
}

.target-group {
    margin: 30px 294px;
}

/* Progarming section */
.language {
    margin: 48px 150px 111px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.lan {

    width: 100%;
    height: 100%;
    padding: 20px;
}

.language-des {}

.submit-hobe {
    /* width: 730px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;     */
}

.submit {
    background-image: url(../assets/handshake.jpg);
    margin: 49px 170px 112px;
    border: 64px 48px;
    border-radius: 10px;
    padding: 64px 48px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search {
    width: auto;
    height: 30px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid rgba(13, 19, 33, 0.15);
    box-sizing: border-box;
    align-items: center;
    padding: 19px 20px;
    text-align: center;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.4);

}

.button1 {
    background-color: #fff;
    border: 2px;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

.title {

    position: relative;
    font-size: 32px;
    line-height: 15px;
    color: #fff;
    text-align: center;
}
.submit-description{

        font-size: 16px;
        line-height: 15px;    
        color: #fff;
        opacity: 0.7;
}
.footer-column{
    display: flex;
    margin: 80px
     150px 0px;
     justify-content: space-between;
}
.social-media{
    margin-left: 10px;
}